.DS_Store
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
api/.venv/
venv/

# Node
node_modules/
web/node_modules/
web/dist/
web/certs/

# Runtime artifacts
api/app/session_artifacts/

yolov8n-seg.pt
yolo11s.pt
models/segmentation/src/python
models/segmentation/output/improved_segmented_video.mp4

models\segmentation\src\deeplabv3plus_mobilenet_finetuned.pth
models/segmentation/src/deeplabv3plus_mobilenet_finetuned.pth